*{
    padding: 0;
    margin: 0;
}
.section1{
    height: 840px;
    width: 1440px;
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
header{
    padding-top: 36px;
    padding-left:105px ;
    padding-right: 143.5px;
    height: 42px;
    width: 1191.5px;
}
nav{
    display: flex;
    position: relative;
    align-items: center;
}
nav .get-started{
    opacity: 1;
    color: rgba(58,207,110,1);
    font-family: "Inter-Bold";
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.ul1{
    width: 850px;
}
.ul1 .first-ele{
    opacity: 1;
    color: rgba(255,255,255,1);
    font-family: "Inter-Bold";
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
}
.ul1 a{
    opacity: 0.4;
    color: rgba(255,255,255,1);
    font-family: "Inter-Regular";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
}

.ul2{
    position: absolute;
    right: 0;
}
.ul2>li{
    margin-left: 20px;
}

li{
list-style: none;


}
a{
    color: black;
    text-decoration: none ;
}
.title1{
height: 222px;
width: 600px;
padding-top: 174px;
padding-left: 107px;
opacity: 1;
color: rgba(255,255,255,1);
font-family: "Inter-Bold";
font-size: 55px;
font-weight: 700;
font-style: normal;
letter-spacing: 0px;
text-align: left;
line-height: 74px;
}
.part-title{
    color: #3ACF6E;
}
.sub-title{
    width: 600px;
    height: 96px;
    padding-left: 106px;
    padding-top: 36px;
    opacity: 1;
    color: rgba(255,255,255,1);
    font-family: "Inter-Regular";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 32px;
}
.button1,.button2{
    margin-top: 36px;
    margin-left: 106.5px;
    height: 48px;
    width: 141px;
}
.button1{
    border-radius: 5px;
    opacity: 1;
    background-color: rgba(58,207,110, 1);
    color: white;
    font-size: 15px;
    opacity: 1;
    color: rgba(255,255,255,1);
    font-family: "Inter-Bold";
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    border: none;
}
.button2{
    border-radius: 5px;
    border: 1px solid rgba(255,255,255, 1);
    opacity: 1;
    background:none;
    opacity: 1;
    color: rgba(255,255,255,1);
    font-family: "Inter-Bold";
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
}
.img1{
    position: absolute;
    right: 148px;
    top:140px;
}
.img2{

    position: absolute;
    top : 584px;
    right: 0;
}
.p-section2{
    opacity: 1;
    color: rgba(96,107,134,1);
    font-family: "Inter-MediumItalic";
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0px;
    text-align: left;
    line-height: 32px;
    width: 960px;
    height: 96px;
    margin-top: 180px;
    margin-left: 106px;
}
.fetures{
    display: flex;
    margin-top: 131px;
}
.h3-fetures{
    opacity: 1;
    color: rgba(32,83,209,1);
    font-family: "Inter-Bold";
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 10px;
    text-align: left;
    text-transform: uppercase;
    height: 19px;
    width: 158px;
}
.h1-fetures{
    opacity: 1;
    color: rgba(38,43,54,1);
    font-family: "Inter-Bold";
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 16px;
}
.p-fetures{
    opacity: 1;
    color: rgba(96,107,134,1);
    font-family: "Inter-Regular";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 28px;
    width: 600px;
    margin-top: 24px;
}
.fetures-text{
    margin-left: 222.5px;
}
.list{
    margin-top: 51px;
}
.section3{
    height: 1170px;
    display: flex;
    margin-top: 227px;
}
.section3 >.blue-div{
    background-color: #1C57C9;
    width: 760px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 0 300px;
}
.section3>.white-div{
    width: 680px;
}
.section3>.white-div>img{
    width: 760px;
    position:absolute;
    z-index: 1;
    margin-top: 62px;
}
.section3>.white-div>h3{
    opacity: 1;
    color: rgba(32,83,209,1);
    font-family: "Inter-Bold";
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 10px;
    text-align: left;
    text-transform: uppercase;
    padding-left: 120px;
}
.section3>.white-div>h1{
    opacity: 1;
    color: rgba(38,43,54,1);
    font-family: "Inter-Bold";
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 64px;
    padding-left: 120px;
    }

.section3>.blue-div>img{
    margin-top: 30px;
}
.section3>.blue-div>:first-child{
    margin-top: 104px;
    
}

.section4{
    height: 2560px;
    
}
.section4>.titles-section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 164px;
}

.section4>.titles-section4>h3{
    opacity: 1;
    color: rgba(32,83,209,1);
    font-family: "Inter-Bold";
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
}
.section4>.titles-section4>h1{
   padding-bottom: 15px;
   font-size: 35px;
}
.section4>.titles-section4>img{
    padding-top: 85px;
 }
 .section4>.titles-section4>p{
    opacity: 1;
    color: rgba(96,107,134,1);
    font-family: "Inter-Bold";
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    line-height: 64px;
 }
 .section4>.titles-section4>.p-butto{
    opacity: 1;
color: rgba(38,43,54,1);
font-family: "Inter-Bold";
font-size: 42px;
font-weight: 700;
font-style: normal;
letter-spacing: 0px;
text-align: center;
line-height: 64px;
 }



.section4>.options{
    display: flex;
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 128px;
}

.first-col>div , .second-col>div , .third-col>div {
    background-color: white;
    box-shadow: 4px 4px 24px rgba(0,0,0, 0.08);
    opacity: 1;
    margin: 20px;
    width: 360px;
    height: 96px;
}

.first-col>div>p , .second-col>div>p , .third-col>div>p{
    opacity: 1;
    color: rgba(38,43,54,1);
    font-family: "Inter-SemiBold";
    font-size: 18px;
    font-style: normal;
    letter-spacing: 0px;
    padding-bottom: 32px;
    padding-left: 103px;
    
}
.cards{
    display: flex;
    padding-left: 141.12px;
    padding-top: 82px;
    padding-right: 140.88px;
    position: relative;
}
.cards>div {
    position: relative;
    width: 555px;
    height: 279px;
    box-shadow: 4px 4px 24px rgba(0,0,0, 0.08);
    border-radius: 25px;
    margin-left: 30px;

}
.arrow-right{
    right: 130px;
    position: absolute;
    z-index: -1;
    top: 60%;
}
.arrow-left{
    position: absolute;
    z-index: -1;
    left: 155px;
    top: 60%;
    
}

.cards>div>P{
    opacity: 1;
color: rgba(38,43,54,1);
font-family: "Inter-Regular";
font-size: 20px;
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
text-align: left;
line-height: 32px;
padding-top: 75px;
padding-left: 30px;
padding-right: 30px;
}
.headers-cards{
    position: absolute;
    bottom: 40px;
    left: 30px;
}

.headers-cards>h6{
    opacity: 1;
color: rgba(96,107,134,1);
font-family: "Inter-Regular";
font-size: 15px;
font-weight: 400;
font-style: normal;
letter-spacing: 0px;
text-align: left;
line-height: 24px;
}


.contact{
    display: flex;
    padding-right: 306px;
}
.contact>div>h3{
    opacity: 1;
color: rgba(32,83,209,1);
font-family: "Inter-Bold";
font-size: 15px;
font-weight: 700;
font-style: normal;
letter-spacing: 10px;
text-align: left;
text-transform: uppercase;
}
.contact>div>h1{
    opacity: 1;
    color: rgba(38,43,54,1);
    font-family: "Inter-Bold";
    font-size: 42px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 64px;
}
.contact>div{
    padding-left: 120px;
}

form {
    display: flex;
    flex-direction: column;
    padding-left: 208px;
  
}
form>label{
    opacity: 1;
    color: rgba(38,43,54,1);
    font-family: "Inter-Regular";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 24px;
    margin-top: 16px;
}
form>input{
    border-radius: 3px;
    border: 1px solid rgba(204,204,204, 1);
    opacity: 1;
    background-color: rgba(255,255,255, 1);
    width: 386px;
    height: 48px;
    margin-top: 16px;
}
form>textarea{
    border-radius: 3px;
    border: 1px solid rgba(204,204,204, 1);
    opacity: 1;
    background-color: rgba(255,255,255, 1);
    margin-top: 16px;
}
form>button{
    border: none;
    border-radius: 5px;
    opacity: 1;
    background-color: rgba(58,207,110, 1);
    width: 148px;
    height: 48px;
    opacity: 1;
    color: rgba(255,255,255,1);
    font-family: "Inter-Bold";
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 40px;
    padding: 15.5px 35px;
}
.footer{
    display: flex;
    padding-left: 119px;
    padding-right: 122px;
    height: 547px;
    margin-top: 285px;
}
.footer>div{
display: flex;
flex-direction: column;    
margin: 40px;
}

.logo-fot{
    height: 42px;
    width: 157px;
    margin-bottom: 40px;
}
.first-fot{
    width: 400px;
    height: 360px;
}
.second-fot ,.third-fot ,.fourh-fot {
    width: 240px;
    height: 360px;
}

.copy-fot{
    display: flex;
    justify-content: center;
    align-items: center;

}

.copy-fot>p{
    opacity: 1;
    color: rgba(38,43,54,1);
    font-family: "Inter-Regular";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 28px;
    padding-bottom: 31px;
}
.second-fot>a ,.third-fot>a ,.fourth-fot>a {
   padding-top: 16px
}
.second-fot>h5 ,.third-fot>h5 ,.fourth-fot>h5 {
    width: 158px;
    height: 24px;
 }
